@using Newtonsoft.Json
<style>
    .panel-title a {
        display: block;
        padding: 10px 15px;
        margin: -10px -15px;
        cursor: pointer;
    }
</style>
<script>

    function randomString(length) {
        var chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXTZabcdefghiklmnopqrstuvwxyz'.split('');

        if (!length) {
            length = Math.floor(Math.random() * chars.length);
        }

        var str = '';
        for (var i = 0; i < length; i++) {
            str += chars[Math.floor(Math.random() * chars.length)];
        }
        return "x" + str;
    }
    var airbaseIcon_a = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/AB' + '' + '.png',
    });
    var navalbaseIcon_a = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/NB' + '' + '.png',
    });
    var taskforceIcon_a = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/TF' + '' + '.png',
    });
    var lcuIcon_a = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/LCU' + '' + '.png',
    });

    var airbaseIcon_j = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/AB' + 'j' + '.png',
    });
    var navalbaseIcon_j = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/NB' + 'j' + '.png',
    });
    var taskforceIcon_j = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/TF' + 'j' + '.png',
    });
    var lcuIcon_j = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/LCU' + 'j' + '.png',
    });

    var baseIcon_a = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/USBase.png',
    });
    var baseIcon_j = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/JABase.png',
    });
    var reportIcon = L.icon({
        iconUrl: '/OperationGlacier/Content/map_icons/Report.png',
    });

    var group_dot_bases = [];

    function load_hexes(turn) {

        var hexes = turn.hexes;


        $.each(hexes, function (i, hex) {

            var x = hex.x;
            var y = hex.y;
            var lon = xy_to_lon(x,y);
            var lat = xy_to_lat(x,y);
            //var report = item.html;
            
            var base = "";
            var base_tooltip = "";


            var airbase = "";
            var airbase_tooltip = "";


            var navalbase = "";
            var navalbase_tooltip = "";

            //var reports = "";
            var reports_sigint = "";
            var reports_combatevent = "";
            var reports_afteraction = [];
            var reports_operationalreport = "";
            var reports_tooltip = "";


            var taskforces = "";
            var taskforces_tooltip = "";

            var lcus = "";
            var lcus_tooltip = "";

            var baseIcon;
            var airbaseIcon;
            var navalbaseIcon;
            var taskforceIcon;
            var lcusIcon;


            var is_dot_base = false;

            var popupOptions = { maxWidth: 600, maxHeight: 400, };
            $.each(hex.units, function (i, unit) {
                //populate htmls via that pretentious lib
                
                if (unit.type_str == "AirGroup") {
                    if (unit.owner == 0) {
                        airbaseIcon = "Japan";
                        unit.owner = "Japan";
                    }
                    if (unit.owner == 1) {
                        airbaseIcon = "Allies";
                        unit.owner = "Allies";
                    }
                    airbase += airgroup_template(unit);
                    airbase_tooltip = airbase_tooltip + unit.name + "\n";
                } else if (unit.type_str == "Base") {
                    if (unit.owner == 0) {
                        baseIcon = "Japan";
                        unit.owner = "Japan";
                    }
                    if (unit.owner == 1) {
                        baseIcon = "Allies";
                        unit.owner = "Allies";
                    }
                    unit.row.Supply = commaSeparateNumber(unit.row.Supply);
                    unit.row.Fuel = commaSeparateNumber(unit.row.Fuel);
                    base += base_template(unit);
                    base_tooltip = base_tooltip + unit.name;
                    if (unit.row.Port.split(' ')[0] == "0" && unit.row.Airbase.split(' ')[0] == "0") {
                        is_dot_base = true;
                    } else {
                        is_dot_base = false;
}
                } else if (unit.type_str == "TaskForce") {
                    if (unit.owner == 0) {
                        taskforceIcon = "Japan";
                        unit.owner = "Japan";
                    }
                    if (unit.owner == 1) {
                        taskforceIcon = "Allies";
                        unit.owner = "Allies";
                    }
                    taskforces += taskforce_template(unit);
                    taskforces += "<div style='margin-left:20px'>";
                    $.each(unit.subunits, function (i, subunit) {
                        taskforces += ship_template(subunit);
                        taskforces += "<div style='margin-left:20px'>";
                        $.each(subunit.subunits, function (i, subsubunit) {
                            taskforces += airgroup_template(subsubunit);
                        });
                        taskforces += "</div>";
                    });
                    taskforces += "</div>";
                    taskforces_tooltip = taskforces_tooltip + unit.name + "\n";
                } else if (unit.type_str == "Ship") {
                    if (unit.owner == 0) {
                        navalbaseIcon = "Japan";
                        unit.owner = "Japan";
                    }
                    if (unit.owner == 1) {
                        navalbaseIcon = "Allies";
                        unit.owner = "Allies";
                    }
                    //ships in TFs are in TFs, these are ships at ahcnor
                    navalbase += ship_template(unit);
                    navalbase += "<div style='margin-left:20px'>";
                    $.each(unit.subunits, function (i, subunit) {
                        navalbase += airgroup_template(subunit);
                    });
                    navalbase += "</div>";
                    navalbase_tooltip = navalbase_tooltip + unit.name + "\n";
                } else if (unit.type_str == "LCU") {
                    if (unit.owner == 0) {
                        lcuIcon = "Japan";
                        unit.owner = "Japan";
                    }
                    if (unit.owner == 1) {
                        lcuIcon = "Allies";
                        unit.owner = "Allies";
                    }
                    lcus += lcu_template(unit);
                    lcus_tooltip = lcus_tooltip + unit.name + "\n";
                } else if (unit.type_str == "SigInt") {
                    reports_sigint += sigint_template(unit);
                    reports_tooltip = reports_tooltip + unit.report + "\n";
                } else if (unit.type_str == "CombatEvent") {
                    reports_combatevent += combatevent_template(unit);
                    reports_tooltip = reports_tooltip + unit.report + "\n";
                } else if (unit.type_str == "AfterAction") {
                    unit.report = unit.report.trim();
                    reports_afteraction.push({ text: afteraction_template(unit), first_line: unit.report.split('\n')[0] });
                    reports_tooltip = reports_tooltip + unit.report.split('\n')[0] + "\n";
                } else if (unit.type_str == "OperationalReport") {
                    reports_operationalreport += operationalreport_template(unit);
                    reports_tooltip = reports_tooltip + unit.report + "\n";
                }
            });

            var nudge_y = 0.0;
            if ("@Ajax.JavaScriptStringEncode(Model.side)" == "Both") {
                if (turn.side_string == "Allies") {
                    nudge_y = 0.07;
                } else if (turn.side_string == "Japan") {
                    nudge_y = -0.07;
                }
            }
            if ("@Ajax.JavaScriptStringEncode(Model.side)" != "Both" || (baseIcon == "Japan" && turn.side_string == "Japan") || (baseIcon == "Allies" && turn.side_string == "Allies")) {
                if (base != "") {
                    var pos = [lat + 0.09, lon - 0.09]; //intentionall no nudge_y
                    if (is_dot_base) {
                        if (baseIcon == "Japan") {
                            group_dot_bases.push(L.marker(pos, { icon: baseIcon_j, title: base_tooltip })
                                    .bindPopup(base, popupOptions));
                        } else {
                            group_dot_bases.push(L.marker(pos, { icon: baseIcon_a, title: base_tooltip })
                                .bindPopup(base, popupOptions));
                        }
                    } else {
                        if (baseIcon == "Japan") {
                            L.marker(pos, { icon: baseIcon_j, title: base_tooltip })
                                .addTo(map)
                                .bindPopup(base, popupOptions);
                        } else {
                            L.marker(pos, { icon: baseIcon_a, title: base_tooltip })
                                .addTo(map)
                                .bindPopup(base, popupOptions);
                        }
                    }
                }
            }
            if (lcus != "") {
                var pos = [lat - 0.12 + nudge_y, lon - 0.23];
                if (lcuIcon == "Japan") {
                    L.marker(pos, { icon: lcuIcon_j, title: lcus_tooltip })
                        .addTo(map)
                        .bindPopup(lcus, popupOptions);
                } else {
                    L.marker(pos, { icon: lcuIcon_a, title: lcus_tooltip })
                        .addTo(map)
                        .bindPopup(lcus, popupOptions);
                }

            }
            if (airbase != "") {
                var pos = [lat + 0.21, lon + 0.13];
                if (airbaseIcon == "Japan") {
                    L.marker(pos, { icon: airbaseIcon_j, title: airbase_tooltip })
                        .addTo(map)
                        .bindPopup(airbase, popupOptions);
                } else {
                    L.marker(pos, { icon: airbaseIcon_a, title: airbase_tooltip })
                        .addTo(map)
                        .bindPopup(airbase, popupOptions);
                }

            }

            if (taskforces != "") {
                var pos;
                if (base == "") {
                    pos = [lat + 0.1 + nudge_y, lon - 0.1];
                } else {
                    pos = [lat - 0.10 + nudge_y, lon + 0.06];
                }
                if (taskforceIcon == "Japan") {
                    L.marker(pos, { icon: taskforceIcon_j, title: taskforces_tooltip })
                        .addTo(map)
                        .bindPopup(taskforces, popupOptions);
                } else {
                    L.marker(pos, { icon: taskforceIcon_a, title: taskforces_tooltip })
                        .addTo(map)
                        .bindPopup(taskforces, popupOptions);
                }
            }

            if (navalbase != "") {
                var pos = [lat + 0.22, lon - 0.25];
                if (navalbaseIcon == "Japan") {
                    L.marker(pos, { icon: navalbaseIcon_j, title: navalbase_tooltip })
                        .addTo(map)
                        .bindPopup(navalbase, popupOptions);
                } else {
                    L.marker(pos, { icon: navalbaseIcon_a, title: navalbase_tooltip })
                        .addTo(map)
                        .bindPopup(navalbase, popupOptions);
                }
            }
            if (reports_sigint != "" || reports_combatevent != "" || reports_afteraction != "" || reports_operationalreport != "") {
                reports = "";
                var accordion = randomString(8);
                reports += "<div class='panel-group' id='" + accordion + "' style='max-height:400px; overflow-y:scroll;'>";
                var accordion_first = " in ";
                if (reports_sigint != "") {
                    var collapse_sigint = randomString(8);
                    reports += "<div class='panel panel-default'>";
                    reports += "<div class='panel-heading'>";
                    reports += "<h4 class='panel-title'><a data-toggle='collapse' data-parent='#" + accordion + "' href='#" + collapse_sigint + "'>Signals Intelligence</a></h4>";
                    reports += "</div>";
                    reports += "<div id=" + collapse_sigint + " class='panel-collapse collapse " + accordion_first + "'>";
                    reports += "<div class='panel-body'>";
                    reports += reports_sigint;
                    reports += "</div>";
                    reports += "</div>";
                    reports += "</div>";
                    accordion_first = "";
                }
                if (reports_combatevent != "") {
                    var collapse_combatevent = randomString(8);
                    reports += "<div class='panel panel-default'>";
                    reports += "<div class='panel-heading'>";
                    reports += "<h4 class='panel-title'><a data-toggle='collapse' data-parent='#" + accordion + "' href='#" + collapse_combatevent + "'>Combat Events</a></h4>";
                    reports += "</div>";
                    reports += "<div id=" + collapse_combatevent + " class='panel-collapse collapse " + accordion_first + "'>";
                    reports += "<div class='panel-body'>";
                    reports += reports_combatevent;
                    reports += "</div>";
                    reports += "</div>";
                    reports += "</div>";
                    accordion_first = "";
                }
                $.each(reports_afteraction, function (i, report_aar) {
                    var collapse_afteraction = randomString(8);
                    reports += "<div class='panel panel-default'>";
                    reports += "<div class='panel-heading'>";
                    reports += "<h4 class='panel-title'><a data-toggle='collapse' data-parent='#" + accordion + "' href='#" + collapse_afteraction + "'>" + report_aar.first_line + "</a></h4>";
                    reports += "</div>";
                    reports += "<div id=" + collapse_afteraction + " class='panel-collapse collapse " + accordion_first + "'>";
                    reports += "<div class='panel-body'>";
                    reports += report_aar.text;
                    reports += "</div>";
                    reports += "</div>";
                    reports += "</div>";
                    accordion_first = "";
                });

                if (reports_operationalreport != "") {
                    var collapse_operationalreport = randomString(8);
                    reports += "<div class='panel panel-default'>";
                    reports += "<div class='panel-heading'>";
                    reports += "<h4 class='panel-title'><a data-toggle='collapse' data-parent='#" + accordion + "' href='#" + collapse_operationalreport + "'>Operational Reports</a></h4>";
                    reports += "</div>";
                    reports += "<div id=" + collapse_operationalreport + " class='panel-collapse collapse " + accordion_first + "'>";
                    reports += "<div class='panel-body'>";
                    reports += reports_operationalreport;
                    reports += "</div>";
                    reports += "</div>";
                    reports += "</div>";
                    accordion_first = "";
                }

                reports += "</div>";
                L.marker([lat + 0.35 + nudge_y, lon - 0.08], { icon: reportIcon, title: reports_tooltip })
                    .addTo(map)
                    .bindPopup(reports, { minWidth: 800, maxWidth: 800, maxHeight: 400, minHeight: 400 });
            }

        });
    }
</script>