@{
    ViewBag.Title = "Map";
}
@Styles.Render("~/Content/leaflet.css")
@Scripts.Render("~/Scripts/leaflet.js")
<div id="map" style="width: 100%; height: 100%; background: black;"></div>
<style>
    body {
        background: black;
    }
    .container {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: none;
        background: black;
        overflow: hidden;
        height: 100%;
    }
</style>
<script>
    var map = L.map('map').setView([68.7, -75], 3);
    L.tileLayer('https://secure.baloogancampaign.com:8081/map/render2/{z}/{x}/{y}.png', {

        attribution: '', 
        id: 'examples.map-i875mjb7',
        maxZoom: 6, minZoom: 3
    }).addTo(map);
    
    map.zoomControl.setPosition('topright');
    map.setMaxBounds([[0, -200], [110, 50]]);
</script>

