body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.handlebars-value-warning {color:red;}


 .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .logo-operation-glacier {
            cursor: pointer;
            background-image: url(https://i.imgur.com/RXzCraP.png);
            background-repeat: no-repeat;
            background-size: contain;
            padding-left: 55px;
        }

        .dropdown-menu > li > a {
            display: block;
            padding: 3px 20px;
            clear: both;
            font-weight: normal;
            line-height: 1.428571429;
            color: #FFFFFF;
            white-space: nowrap;
        }
        .dropdown-menu > .nav-header{
            color: #FFFFFF;
        }



        .unit-table{
            border: 1px solid #aaa;
        }
        .unit-table th{
            border: 1px solid #aaa; font-weight:bold;text-align: center;
        }
        .unit-table td{
            border: 1px solid #aaa;text-align: center;
        }