@using Newtonsoft.Json
@model OperationGlacier.Models.UnitModel
@{
    ViewBag.Title = Model.name;
}
@RenderPage("../Includes/HandlebarsTemplates.cshtml")
<div class="row" id="event-timeline">

</div>
<script>
    var model_hash = "@ViewBag.hash";
    var model_game_name = "@ViewBag.game_name";
</script>
<script>

</script>