@using Newtonsoft.Json
@model IEnumerable<OperationGlacier.Models.CommentModel>
@Scripts.Render("~/bundles/handlebars")
@RenderPage("../Includes/HandlebarsTemplates.cshtml")
@{
    ViewBag.Title = "Recent Comments";
}
<div class="row" id="comments">

</div>
<script>

    var html = "";

    html += "<div class='col-sm-12'>";

    html += "<div class='panel panel-default'>";
        
    html += "<div class='panel-body'>";
        
    var comments_json = JSON.parse(@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model), addDoubleQuotes: true)));

    $.each(comments_json, function (i, comment) { comment.message = marked(comment.message); html += comment_template(comment); });
        
    html += "</div>";
    html += "</div>";
    html += "</div>";
    
    document.querySelector('#comments').innerHTML = html;
</script>