@using Newtonsoft.Json
@model OperationGlacier.Models.UnitModel
@{
    ViewBag.Title = "UNIT_NAME";
}
@Scripts.Render("~/Scripts/handlebars-v3.0.1.js")
@RenderPage("../Includes/HandlebarsTemplates.cshtml")
<div class="row" id="unit-timeline">

</div>
<script>
    function render_unit_data_panel(i, unit) {
        var html = "";
        if (i != -1) {
            html += "<div class='col-sm-6'>";
        } else {
            html += "<div class='col-sm-6'>";
        }
        html += "<div class='panel panel-default'><div class='panel-body'>";

        if (unit.owner == 0) {
            unit.owner = "Japan";
        }
        if (unit.owner == 1) {
            unit.owner = "Allies";
        }
        if (unit.type_str == "AirGroup") {
            html += airgroup_template(unit);
        } else if (unit.type_str == "Base") {
            unit.row.Supply = commaSeparateNumber(unit.row.Supply);
            unit.row.Fuel = commaSeparateNumber(unit.row.Fuel);
            html += base_template(unit);
        } else if (unit.type_str == "TaskForce") {
            html += taskforce_template(unit);
            html += "<div style='margin-left:20px'>";
            $.each(unit.subunits, function (i, subunit) {
                html += ship_template(subunit);
                html += "<div style='margin-left:20px'>";
                $.each(subunit.subunits, function (i, subsubunit) {
                    html += airgroup_template(subsubunit);
                });
                html += "</div>";
            });
            html += "</div>";
        } else if (unit.type_str == "Ship") {
            html += ship_template(unit);
            html += "<div style='margin-left:20px'>";
            $.each(unit.subunits, function (i, subunit) {
                html += airgroup_template(subunit);
            });
            html += "</div>";
        } else if (unit.type_str == "LCU") {
            html += lcu_template(unit);
        }
        html += "</div>";
        html += "</div>";
        html += "</div>";
        return html;
    }
    function render_comments(timeline, current_unit) {
        var html = "";

        html += "<div class='col-sm-6'>";

        html += "<div class='panel panel-default'>";
        html += "<div class='panel-heading'>";
        html += "<div style='float:right;'><a href='/OperationGlacier/Comments/Create?"
            + "date_string=" + current_unit.date_string
            + "&unit_timeline_id=" + current_unit.timeline_id
            + "&unit_location=" + current_unit.location
            + "&x=" + current_unit.x
            + "&y=" + current_unit.y
            + "&unit_name=" + current_unit.name
            + "'>Add Comment</a></div>";
        html += "<h2>Comments</h2>";
        html += "</div>";
        
        html += "<div class='panel-body'>";
        
        var comments_json = JSON.parse(@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model.comments), addDoubleQuotes: true)));

        $.each(comments_json, function (i, comment) { html += comment_template(comment); });
        
        html += "</div>";
        html += "</div>";
        html += "</div>";
        return html;
    }
    function render_graphs(timeline) {
        return "";
    }
    function display_timeline(timeline) {
        document.title = document.title.replace("UNIT_NAME", timeline.name);
        var all_html = "";

        timeline.unit_data.reverse();//scroll down = go backwards in time
        var current_unit = timeline.unit_data.shift();
        all_html += render_unit_data_panel(-1, current_unit);
        //PUT GRAPHS IN HERE, SUPPLY ETC!
        //comments too!
        all_html += render_comments(timeline, current_unit);
        all_html += render_graphs(timeline);
        $.each(timeline.unit_data, function (i, unit) { all_html += render_unit_data_panel(i, unit); });

        document.querySelector('#unit-timeline').innerHTML = all_html;
    }
    //download the json
    (function () {
        var link = "/OperationGlacier/GameData/Timeline/" + "@Ajax.JavaScriptStringEncode(Model.timeline_id)" + ".json";
        $.getJSON(link).done(display_timeline);


    }).call(this);

</script>
