<script id="base-template" type="text/x-handlebars-template">
    <div class='panel panel-default'>
        <div class="panel-heading">
            <div style="float:right;"><a href="/OperationGlacier/Map?Side={{side_str}}&date={{date_string}}&x={{this.x}}&y={{y}}&game_name=@ViewBag.game_name">View on map</a> {{date_string}}</div>
            <h4><a href="/OperationGlacier/Unit?tid={{timeline_id}}&game_name=@ViewBag.game_name">{{name}}</a></h4>

        </div>
        <div class="panel-body">
            <strong>{{row.Region}} {{row.Type}}</strong>
            <br />
            <strong>HQ: </strong>{{row.HQ}}
            <br />
            <strong>Held by: </strong>{{owner}}
            <br />
            <strong>Supply: </strong>{{row.Supplyc}}
            <strong>Fuel: </strong>{{row.Fuelc}}
            <br />
            <strong>Port: </strong>{{row.Port}} {{row.PExp}}
            <strong>Airbase: </strong>{{row.Airbase}} {{row.AExp}}
            <strong>Forts: </strong>{{row.Forts}} {{row.FExp}}
            <br />
            <strong>Eng: </strong>{{row.Eng}}
            <strong>Nav: </strong>{{row.Nav}}
            <strong>AirS: </strong>{{row.AirS}}
            <strong>AV: </strong>{{row.AV}}
            <br />
            <strong>Garrison: </strong>{{row.Garrison}}
            <strong>TroopCap: </strong>{{row.TroopCap}}
            <br />
            <strong>Japan VP: </strong>{{row.JapanVP}}
            <strong>Allies VP: </strong>{{row.AlliedVP}}
        </div>
    </div>
</script>
<script id="lcu-template" type="text/x-handlebars-template">
    <div class='panel panel-default'>
        <div class="panel-heading">
            <div style="float:right;"><a href="/OperationGlacier/Map?Side={{side_str}}&date={{date_string}}&x={{this.x}}&y={{y}}&game_name=@ViewBag.game_name">View on map</a> {{date_string}}</div>
            <h4><a href="/OperationGlacier/Unit?tid={{timeline_id}}&game_name=@ViewBag.game_name">{{name}}</a></h4>
        </div>
        <div class="panel-body">
            <strong>{{row.Nation}} {{row.Type}}</strong>
            <br />
            <strong>HQ: </strong>{{row.HQ}}
            <br />
            <strong>AV: </strong>{{row.AV}}
            <strong>Nav: </strong>{{row.Nav}}
            <strong>Air: </strong>{{row.Air}}
            <strong>Eng: </strong>{{row.Eng}}
            <br />
            <strong>Exp/Morale: </strong>{{row.Exp}}/{{row.Morale}}
            <strong>Disr/Fat: </strong>{{row.Disr}}/{{row.Fat}}
            <br />
            <strong>Mode: </strong>{{row.OpMode}}
            <strong>Plan: </strong>{{row.Planfor}} {{row.Plan}}
            <br />
            <strong>Supply: </strong>{{row.Supply}}
            <strong>Base Load: </strong>{{row.BaseLoad}}
            <strong>Destination: </strong>{{row.Destination}}
        </div>
    </div>
</script>
<script id="airgroup-template" type="text/x-handlebars-template">
    <div class='panel panel-default'>
        <div class="panel-heading">
            <div style="float:right;"><a href="/OperationGlacier/Map?Side={{side_str}}&date={{date_string}}&x={{this.x}}&y={{y}}&game_name=@ViewBag.game_name">View on map</a> {{date_string}}</div>
            <h4><a href="/OperationGlacier/Unit?tid={{timeline_id}}&game_name=@ViewBag.game_name">{{name}}</a></h4>
        </div>
        <div class="panel-body">
            <strong>{{row.Nation}} {{row.Model}} {{scendata.Type}}</strong>
            <div style="width:150px; height:60px; background: url('https://web196.secure-secure.co.uk/baloogancampaign.com/{{#xif " this.side_str == 'Japan' "}}J{{else}}A{{/xif}}_PlaneSide.png') no-repeat;background-position: -{{airgroup_image_px_x}}px -{{airgroup_image_px_y}}px;">
            </div>
            <strong>Main Armament: </strong>{{scendata.BiggestDevice}}<br />
            <strong>HQ:</strong> {{row.HQ}}
            <br />
            <strong>Ready / Repair / Reserve / Max:</strong> {{row.Ready}} / {{row.Repair}} / {{row.Reserve}} / {{row.MaxPlanes}}
            <br />
            <table class="unit-table">
                <tr><th>CAP</th><th>LRCAP</th><th>ASW</th><th>Search</th><th>Train</th><th>Rest</th></tr>
                <tr><td>{{row.CAP}}</td><td>{{row.LRCAP}}</td><td>{{row.ASW}}</td><td>{{row.Search}}</td><td>{{row.Train}}</td><td>{{row.Rest}}</td></tr>
            </table>
            <strong>Pilots:</strong> {{row.Pilots}}
            <strong>Exp/Mor/Fat: </strong>{{row.Exp}}/{{row.Morale}}/{{row.Fat}}
            <strong>Kills:</strong> {{row.Kills}}
            <br />
            <strong>Upgrade:</strong> {{row.Upgrade}} {{row.Withdraw}}
            <strong>Leader Air/Insp:</strong> {{row.LeadAir}}/{{row.LeadInsp}}
        </div>
    </div>
</script>
<script id="taskforce-template" type="text/x-handlebars-template">
    <div class='panel panel-default'>
        <div class="panel-heading">
            <div style="float:right;"><a href="/OperationGlacier/Map?Side={{side_str}}&date={{date_string}}&x={{this.x}}&y={{y}}&game_name=@ViewBag.game_name">View on map</a> {{date_string}}</div>
            <h4>{{name}} {{row.Label}}</h4>

        </div>
        <div class="panel-body">
            <strong>{{row.Mission}}</strong>
            <br />
            <div style="width:150px; height:60px; background: url('https://web196.secure-secure.co.uk/baloogancampaign.com/{{#xif " this.side_str == 'Japan' "}}J{{else}}A{{/xif}}_Mission.png') no-repeat;background-position: 0px -{{taskforce_image_px}}px;">
            </div>
            <strong>Detect: </strong>{{row.Detect}}
            <br />
            <strong>Ships: </strong>{{row.Ships}}
            <strong>Speed: </strong>{{row.Speed}}
            <strong>Dock Level: </strong>{{row.DockLevel}}
            <strong>ETA Home: </strong>{{row.ETAHome}}
        </div>
    </div>
</script>
<script id="ship-template" type="text/x-handlebars-template">
    <div class='panel panel-default'>
        <div class="panel-heading">
            <div style="float:right;"><a href="/OperationGlacier/Map?Side={{side_str}}&date={{date_string}}&x={{this.x}}&y={{y}}&game_name=@ViewBag.game_name">View on map</a> {{date_string}}</div>
            <h4><a href="/OperationGlacier/Unit?tid={{timeline_id}}&game_name=@ViewBag.game_name">{{name}}</a></h4>

        </div>
        <div class="panel-body">
            <strong>{{row.Nation}} {{row.Class}}-class {{ship_class}}</strong><br />
            <img src="https://web196.secure-secure.co.uk/baloogancampaign.com/shipside/{{bitmap_name}}" /><br />
            <strong>Main Armament: </strong>{{scendata.BiggestDevice}}<br />
            <strong>
                {{#xif " window.Number(this.row.Sys) < 10 "}}Sys{{else}}<span class="handlebars-value-warning">Sys</span>{{/xif}}
                /
                {{#xif " window.Number(this.row.Flt) < 10 "}}Flt{{else}}<span class="handlebars-value-warning">Flt</span>{{/xif}}
                /
                {{#xif " window.Number(this.row.Eng) < 10 "}}Eng{{else}}<span class="handlebars-value-warning">Eng</span>{{/xif}}
                /
                {{#xif " window.Number(this.row.Fire) < 10 "}}Fire{{else}}<span class="handlebars-value-warning">Fire</span>{{/xif}}
                /
                {{#xif " window.Number(this.row.Weapon) < 10 "}}Wep{{else}}<span class="handlebars-value-warning">Wep</span>{{/xif}}
                :
            </strong>
            {{#xif " window.Number(this.row.Sys) < 10 "}}{{row.Sys}}{{else}}<span class="handlebars-value-warning">{{row.Sys}}</span>{{/xif}}
            /
            {{#xif " window.Number(this.row.Flt) < 10 "}}{{row.Flt}}{{else}}<span class="handlebars-value-warning">{{row.Flt}}</span>{{/xif}}
            /
            {{#xif " window.Number(this.row.Eng) < 10 "}}{{row.Eng}}{{else}}<span class="handlebars-value-warning">{{row.Eng}}</span>{{/xif}}
            /
            {{#xif " window.Number(this.row.Fire) < 10 "}}{{row.Fire}}{{else}}<span class="handlebars-value-warning">{{row.Fire}}</span>{{/xif}}
            /
            {{#xif " window.Number(this.row.Weapon) < 10 "}}{{row.Weapon}}{{else}}<span class="handlebars-value-warning">{{row.Weapon}}</span>{{/xif}}
            <br />
            <strong>Exp D/N: </strong>{{row.Exp}}
            <strong>AA / ASW / Torp</strong> {{row.AA}} / {{row.ASW}} / {{row.Torp}}<br />
            {{#xif " this.row.Air != '0' "}}
            <strong>Air Capacity: </strong>{{x "window.Math.round(window.Number(this.row.Air) * 0.01 *  window.Number(this.row.Planes)) "}} / {{row.Air}}<br />
            {{#xif " this.row.AirSortie != '0' "}}
            <strong>Sorties: </strong>{{row.AirSortie}}% <br />
            {{/xif}}
            {{#xif " this.row.AirTorps != '0' "}}
            <strong>Torps: </strong>{{row.AirTorps}}% <br />
            {{/xif}}
            {{/xif}}
            {{row.Withdraw}} <strong>T/C/L:</strong> {{row.Troop}} / {{row.Cargo2}} / {{row.Liquid}} {{row.Cargo1}}
        </div>
    </div>
</script>

<script id="sigint-template" type="text/x-handlebars-template">
    <div>
        {{report}}<br />
    </div>
</script>
<script id="combatevent-template" type="text/x-handlebars-template">
    <div>
        {{report}}<br />
    </div>
</script>
<script id="afteraction-template" type="text/x-handlebars-template">
    <div><pre style="border-style: solid; border-width: 1px;width:100%;">{{report}}</pre></div>
</script>
<script id="operationalreport-template" type="text/x-handlebars-template">
    <div>
        {{report}}<br />
    </div>
</script>
<script id="comment-template" type="text/x-handlebars-template">
    <div class='panel {{#xif " this.side_restriction == 'Allies' "}}panel-info{{else}}{{#xif " this.side_restriction == 'Japan' "}}panel-danger{{else}}panel-warning{{/xif}}{{/xif}}'>
        <div class="panel-heading">
            <div style="float:right;"><a href="/OperationGlacier/Comments/Edit/{{CommentID}}">edit</a> <a href="/OperationGlacier/Unit?tid={{unit_timeline_id}}&game_name=@ViewBag.game_name"><strong>{{unit_name}}</strong></a> <a href="/OperationGlacier/Map?Side={{side_restriction}}&date={{date_str}}&x={{this.x}}&y={{y}}&game_name=@ViewBag.game_name">View on map</a> {{date_str}}</div>
            {{Username}}
        </div>
        <div class="panel-body">
            {{{message}}}
        </div>
    </div>
</script>
<script id="weapon-template" type="text/x-handlebars-template">
    <li>{{Number}}x <strong>{{Device.Name}}</strong> Ammo: {{Ammo}} Facing: {{Facing}}</li>
</script>
<script id="toe-weapon-template" type="text/x-handlebars-template">
    <li>{{Number}}x <strong>{{Device.Name}}</strong></li>
</script>
<script id="ship-class-template" type="text/x-handlebars-template">
    <strong>Cruise Speed: </strong>{{CruiseSpeed}} kts
    <br />
    <strong>Max Speed: </strong>{{MaxSpeed}} kts
    <br />
    <strong>Endurance: </strong>{{Endurance}} nm
    <br />
    <strong>Fuel Capacity: </strong>{{Fuel}} tonnes
    <br />
    <strong>Durability: </strong>{{Durability}}
    <br />
    <strong>BeltArmour: </strong>{{BeltArmour}} mm
    <br />
    <strong>DeckArmour: </strong>{{DeckArmour}} mm
    <br />
    <strong>TowerArmour: </strong>{{TowerArmour}} mm
    <br />
    <strong>Tonnage: </strong>{{Tonnage}} tonnes
    <br />
</script>
<script id="aircraft-class-template" type="text/x-handlebars-template">
    <strong>Cruise Speed: </strong>{{CruiseSpeed}} kts
    <br />
    <strong>Max Speed: </strong>{{MaxSpeed}} kts
    <br />
    <strong>Endurance: </strong>{{Endurance}} nm
    <br />
    <strong>Durability: </strong>{{Durability}}
    <br />
    <strong>NormRange: </strong>{{NormRange}} nm
    <br />
    <strong>ExtRange: </strong>{{ExtRange}} nm
    <br />
    <strong>MaxRange: </strong>{{MaxRange}} nm
    <br />
</script>
@Scripts.Render("~/bundles/handlebars")
<style>.leaflet-popup-content p{margin:5px}</style>