@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<p>Operation Glacier text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.</p>

<p>Operation Glacier text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.</p>

<p>Operation Glacier text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text.</p>