@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://i.imgur.com/dku2pWg.png" style="float:right;border:1px solid #021a40;" />
    <h1>Operation Glacier</h1>
    <p class="lead">An Interactive WitP-AE PBEM.</p>
    <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah.</p>
    <p><a href="/OperationGlacier/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TheHistoricalGamer</h2>
        <a href="/OperationGlacier/Map?side=Japan&date=latest"><img src="https://i.imgur.com/c9C4m89.png" /></a>
        <p>TheHistoricalGamer is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    </div>
    <div class="col-md-4">
        <h2>Baloogan</h2>
        <a href="/OperationGlacier/Map?side=Allies&date=latest"><img src="https://i.imgur.com/guoaCE0.png" /></a>
        <p>
            Baloogan gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, nuclear development.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Watch both sides!</h2>
        <a href="/OperationGlacier/Map?side=Both&date=latest"><img src="https://i.imgur.com/UK9sl77.png" /></a>
        <p>Blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</p>
        <p>Bluha blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah!</p>
    </div>
</div>

