@{
    ViewBag.Title = "Home Page";
}
<style>audio {
    background-color: #FFFFFF;
    width:100%;
}</style>
<div class="jumbotron">
    <img src="https://i.imgur.com/dku2pWg.png" style="float:right;border:1px solid #021a40;" />
    <h1>Operation Glacier</h1>
    <p class="lead">
        An Interactive WitP-AE PBEM
    </p>
    <p>
        Are you tired of wading through massive text dumps to understand the events in an After Action of a WitP PBEM?
        Wish you could alert the players of a PBEM of a masterful strategy that only you can see?
        <br />
        Introducing Operation Glacier: An Interactive WitP-AE PBEM
    </p>
    <p><a href="/OperationGlacier/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TheHistoricalGamer</h2>
        <a href="/OperationGlacier/Map?side=Japan&date=latest"><img src="https://i.imgur.com/c9C4m89.png" /></a>
        <p>
            TheHistoricalGamer is sitting in for Admiral Yamamoto, and commands the Combined Fleet.
        </p>
        <audio controls preload="none">
            <source src="https://secure.baloogancampaign.com/Uploads/Op_Glacier_9409.mp3" type="audio/mpeg">
        </audio>
        <blockquote>
            "The fate of the Empire rests on this enterprise every man must devote himself totally to the task in hand."
            <br />
            Admiral Isoroku Yamamoto - 7th December 1941
        </blockquote>
        <p><a href="/OperationGlacier/Map?side=Japan&date=latest" class="btn btn-primary btn-lg">Current Japanese Turn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baloogan</h2>
        <a href="/OperationGlacier/Map?side=Allies&date=latest"><img src="https://i.imgur.com/guoaCE0.png" /></a>
        <p>
            Baloogan takes the reins of Pacific Command and steps into the shoes of Admiral Nimitz.
        </p>
        <blockquote>
            "I'll come back as soon as I can with as much as I can. In the meantime, you've got to hold."
            <br />
            General MacArthur - March 1942
        </blockquote>
        <p><a href="/OperationGlacier/Map?side=Allies&date=latest" class="btn btn-primary btn-lg">Current US & Allies Turn &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>See It All</h2>
        <a href="/OperationGlacier/Map?side=Both&date=latest"><img src="https://i.imgur.com/UK9sl77.png" /></a>
        <p>
            In Operation Glacier you can see both sides of the conflict! Please don't spoil anything for the players however. 
        </p>
        <p><a href="/OperationGlacier/Map?side=Both&date=latest" class="btn btn-primary btn-md">See Combined US & Japan Map &raquo;</a>
        <a href="/OperationGlacier/Account/Register" class="btn btn-primary btn-md">Register to post comments on map &raquo;</a>
            <a href="/OperationGlacier/Comments" class="btn btn-primary btn-md">Recent Comments &raquo;</a>
        </p>
    </div>
</div>