@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://i.imgur.com/dku2pWg.png" style="float:right;border:1px solid #021a40;" />
    <h1>Operation Glacier</h1>
    <p class="lead">An Interactive WitP-AE PBEM</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit Operatio Glaciem. In convallis, ex vel LudioLudiusHistoricis & Delphinapterus Campania arcu augue eleifend massa, eget viverra tellus est in diam. 
    Donec porttitor, tortor eu posuere tincidunt, diam odio lacinia libero, nec lobortis orci magna vitae nisi!</p>
    <p><a href="/OperationGlacier/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TheHistoricalGamer</h2>
        <a href="/OperationGlacier/Map?side=Japan&date=latest"><img src="https://i.imgur.com/c9C4m89.png" /></a>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis risus id purus bibendum tempus quis sit amet libero. 
        Suspendisse potenti. Nunc urna tellus, egestas vel odio sed, ornare blandit sapien. Pellentesque vulputate in risus nec fermentum. 
        Nulla facilisi. In dictum felis ex, ac semper leo commodo eget. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Baloogan</h2>
        <a href="/OperationGlacier/Map?side=Allies&date=latest"><img src="https://i.imgur.com/guoaCE0.png" /></a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim imperdiet quam, ac sagittis ex malesuada vel. 
            Morbi dolor odio, vehicula eu neque id, pellentesque dictum neque. Cras in pellentesque felis, a lobortis turpis. Vestibulum sagittis metus eu dapibus lacinia. 
        </p>
    </div>

    <div class="col-md-4">
        <h2>See It All</h2>
        <a href="/OperationGlacier/Map?side=Both&date=latest"><img src="https://i.imgur.com/UK9sl77.png" /></a>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum mauris ac lectus tempus, quis condimentum nulla varius. Sed eget varius dui, sagittis efficitur neque. 
        Sed nibh mi, mattis sit amet dapibus a, venenatis a elit. Pellentesque lorem ligula, placerat sed felis ut, imperdiet vehicula sapien. 
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comments &amp; Graphs</h2>
        <a href="/OperationGlacier/Map?side=Japan&date=latest"><img src="https://i.imgur.com/c9C4m89.png" /></a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis risus id purus bibendum tempus quis sit amet libero.
            Suspendisse potenti. Nunc urna tellus, egestas vel odio sed, ornare blandit sapien. Pellentesque vulputate in risus nec fermentum.
            Nulla facilisi. In dictum felis ex, ac semper leo commodo eget.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Advice &amp; Council</h2>
        <a href="/OperationGlacier/Map?side=Allies&date=latest"><img src="https://i.imgur.com/guoaCE0.png" /></a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dignissim imperdiet quam, ac sagittis ex malesuada vel.
            Morbi dolor odio, vehicula eu neque id, pellentesque dictum neque. Cras in pellentesque felis, a lobortis turpis. Vestibulum sagittis metus eu dapibus lacinia.
        </p>
    </div>

    <div class="col-md-4">
        <h2>Open Source</h2>
        <a href="/OperationGlacier/Map?side=Both&date=latest"><img src="https://i.imgur.com/UK9sl77.png" /></a>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus elementum mauris ac lectus tempus, quis condimentum nulla varius. Sed eget varius dui, sagittis efficitur neque.
            Sed nibh mi, mattis sit amet dapibus a, venenatis a elit. Pellentesque lorem ligula, placerat sed felis ut, imperdiet vehicula sapien.
        </p>
    </div>
</div>
